n8n/n8n.json
[
  {
    "name": "Workflow A — Scheduled monitor",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [{ "field": "minutes", "minutesInterval": 5 }]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [240, 300]
      },
      {
        "parameters": {
          "jsCode": "// ~30% fire rate — skip most ticks to create random interval effect\nif (Math.random() > 0.3) {\n  return [];\n}\nreturn [{ json: { proceed: true } }];"
        },
        "id": "random-gate",
        "name": "Random gate",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [460, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/actions/workflows/monitor.yml/dispatches",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "ref",
                "value": "main"
              },
              {
                "name": "inputs",
                "value": "={{ JSON.stringify({ mode: 'standard' }) }}"
              }
            ]
          },
          "options": {
            "response": { "response": { "responseFormat": "text" } }
          }
        },
        "id": "dispatch-standard",
        "name": "Dispatch standard run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [680, 300],
        "credentials": {
          "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [[{ "node": "Random gate", "type": "main", "index": 0 }]]
      },
      "Random gate": {
        "main": [[{ "node": "Dispatch standard run", "type": "main", "index": 0 }]]
      }
    },
    "settings": { "executionOrder": "v1" }
  },
  {
    "name": "Workflow B — Campaign surge webhook",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "surge",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "surge-webhook",
        "name": "Surge webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1,
        "position": [240, 300],
        "webhookId": "surge"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.github.com/repos/{{ $env.GITHUB_REPO_OWNER }}/{{ $env.GITHUB_REPO_NAME }}/actions/workflows/monitor.yml/dispatches",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              { "name": "ref", "value": "main" },
              {
                "name": "inputs",
                "value": "={{ JSON.stringify({ mode: 'surge', regions: 'us-east,eu-west,ap-southeast,sa-east,me-south,af-south' }) }}"
              }
            ]
          },
          "options": {
            "response": { "response": { "responseFormat": "text" } }
          }
        },
        "id": "dispatch-surge",
        "name": "Dispatch surge run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [460, 300],
        "credentials": {
          "httpHeaderAuth": { "id": "github-pat", "name": "GitHub PAT" }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"triggered\": true }",
          "options": {}
        },
        "id": "respond",
        "name": "Respond",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1,
        "position": [680, 300]
      }
    ],
    "connections": {
      "Surge webhook": {
        "main": [[{ "node": "Dispatch surge run", "type": "main", "index": 0 }]]
      },
      "Dispatch surge run": {
        "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
      }
    },
    "settings": { "executionOrder": "v1" }
  },
  {
    "name": "Workflow C — Failure alerting",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [{ "field": "minutes", "minutesInterval": 15 }]
          }
        },
        "id": "alert-schedule",
        "name": "Alert schedule",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [240, 300]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT region, ttfb_ms, cf_colo, checked_at FROM monitor_results WHERE checked_at > now() - interval '30 minutes' AND status = 0 ORDER BY checked_at DESC",
          "options": {}
        },
        "id": "check-failures",
        "name": "Check for failures",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2,
        "position": [460, 300],
        "credentials": {
          "postgres": { "id": "supabase-db", "name": "Supabase DB" }
        }
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $items().length }}",
                "operation": "larger",
                "value2": 0
              }
            ]
          }
        },
        "id": "if-failures",
        "name": "Any failures?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [680, 300]
      },
      {
        "parameters": {
          "channel": "#monitoring",
          "text": "=🚨 Geo monitor failure\n\nRegion: {{ $json.region }}\nTTFB: {{ $json.ttfb_ms }}ms\nPoP: {{ $json.cf_colo }}\nTime: {{ $json.checked_at }}",
          "otherOptions": {}
        },
        "id": "slack-alert",
        "name": "Slack alert",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2,
        "position": [900, 220],
        "credentials": {
          "slackApi": { "id": "slack-creds", "name": "Slack" }
        }
      }
    ],
    "connections": {
      "Alert schedule": {
        "main": [[{ "node": "Check for failures", "type": "main", "index": 0 }]]
      },
      "Check for failures": {
        "main": [[{ "node": "Any failures?", "type": "main", "index": 0 }]]
      },
      "Any failures?": {
        "main": [
          [{ "node": "Slack alert", "type": "main", "index": 0 }],
          []
        ]
      }
    },
    "settings": { "executionOrder": "v1" }
  }
]
