n8n/workflowC.json
{
  "name": "Workflow C — Failure alerting (Discord)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 15 }] }
      },
      "id": "alert-schedule",
      "name": "Alert schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE status = 0) AS failure_count,\n  COUNT(*) AS total_count,\n  MAX(checked_at) AS last_seen\nFROM monitor_results\nWHERE checked_at > now() - interval '30 minutes'",
        "options": {}
      },
      "id": "check-status",
      "name": "Check status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "credentials": {
        "postgres": { "id": "feCyf8b8GoMyHCPS", "name": "Postgres GamersLab" }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst failures = parseInt(row.failure_count) || 0;\nconst total = parseInt(row.total_count) || 0;\nconst lastSeen = row.last_seen;\n\n// Pipeline dead — no results at all in last 30 minutes\nif (total === 0) {\n  return [{ json: { alertType: 'dead', message: '💀 **Monitor pipeline is down**\\n\\nNo results received in the last 30 minutes.\\nGitHub Actions may have stopped running.\\n\\nCheck: https://github.com/DeveloperAlly/gamerslab/actions' } }];\n}\n\n// Region failures\nif (failures > 0) {\n  return [{ json: { alertType: 'failure', message: `🚨 **Geo monitor failures detected**\\n\\n**Failed checks:** ${failures} of ${total} in last 30 min\\n**Last result:** ${lastSeen}` } }];\n}\n\n// All good — no alert\nreturn [];"
      },
      "id": "evaluate-status",
      "name": "Evaluate status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1066890817425387581",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1514424075282550916",
          "mode": "list",
          "cachedResultName": "gamers-lab-monitor"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "discord-alert",
      "name": "Send alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "discordBotApi": {
          "id": "TjYM6pZNQ2PGSVmG",
          "name": "Discord Bot GamersLab"
        }
      }
    }
  ],
  "connections": {
    "Alert schedule": {
      "main": [[{ "node": "Check status", "type": "main", "index": 0 }]]
    },
    "Check status": {
      "main": [[{ "node": "Evaluate status", "type": "main", "index": 0 }]]
    },
    "Evaluate status": {
      "main": [[{ "node": "Send alert", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
