n8n/workflowF.json
{
  "name": "Workflow F — Scheduled one-off surge events",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "schedule-surge",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "schedule-surge-webhook",
      "name": "Schedule surge webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "schedule-surge"
    },
    {
      "parameters": {
        "jsCode": "// Expects: { scheduledAt: '2026-06-15T14:00:00+10:00', label: 'itch launch event' }\nconst { scheduledAt, label } = $input.first().json.body;\nif (!scheduledAt) throw new Error('scheduledAt is required (ISO 8601)');\n\nconst fireAt = new Date(scheduledAt);\nconst now = new Date();\nconst delayMs = fireAt.getTime() - now.getTime();\n\nif (delayMs < 0) throw new Error('scheduledAt must be in the future');\nif (delayMs > 15 * 24 * 60 * 60 * 1000) throw new Error('scheduledAt must be within 15 days');\n\n// Store the scheduled event in Supabase via output — downstream Postgres node handles insert\nreturn [{ json: { \n  scheduledAt: fireAt.toISOString(),\n  label: label || 'Scheduled surge',\n  delayMs,\n  delayMinutes: Math.round(delayMs / 60000)\n} }];"
      },
      "id": "validate-schedule",
      "name": "Validate schedule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": { "__rl": true, "value": "public", "mode": "list" },
        "table": {
          "__rl": true,
          "value": "scheduled_surges",
          "mode": "list",
          "cachedResultName": "scheduled_surges"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            { "column": "scheduled_at", "value": "={{ $json.scheduledAt }}" },
            { "column": "label", "value": "={{ $json.label }}" },
            { "column": "status", "value": "pending" },
            {
              "column": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "save-surge-event",
      "name": "Save surge event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [680, 300],
      "credentials": {
        "postgres": { "id": "feCyf8b8GoMyHCPS", "name": "Postgres GamersLab" }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1066890817425387581",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1514424075282550916",
          "mode": "list",
          "cachedResultName": "gamers-lab-monitor"
        },
        "content": "=📅 **Surge event scheduled**\n\n**Label:** {{ $json.label }}\n**Fires at:** {{ $json.scheduledAt }}\n**In:** {{ $json.delayMinutes }} minutes",
        "options": {}
      },
      "id": "confirm-discord",
      "name": "Confirm Discord",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [900, 300],
      "credentials": {
        "discordBotApi": {
          "id": "TjYM6pZNQ2PGSVmG",
          "name": "Discord Bot GamersLab"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ scheduled: true, scheduledAt: $json.scheduledAt, label: $json.label, delayMinutes: $json.delayMinutes }) }}",
        "options": {}
      },
      "id": "respond-schedule",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Schedule surge webhook": {
      "main": [[{ "node": "Validate schedule", "type": "main", "index": 0 }]]
    },
    "Validate schedule": {
      "main": [[{ "node": "Save surge event", "type": "main", "index": 0 }]]
    },
    "Save surge event": {
      "main": [[{ "node": "Confirm Discord", "type": "main", "index": 0 }]]
    },
    "Confirm Discord": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" }
}
