n8n/workflowC.json
{
  "name": "Workflow C — Stats + Alerting (Discord)",
  "nodes": [
    {
      "parameters": {
        "content": "## Workflow C — Stats + Alerting (Discord)\n\n**Trigger:** Schedule Trigger every 30 minutes\n\n**Purpose:** Posts a full stats digest to #gamers-lab-monitor every 30 minutes regardless of pass/fail status. Alerts on failures and dead pipeline.\n\n**Flow:**\nAlert schedule (30min) → Check status (Postgres aggregation) → Evaluate status (Code node builds message) → Send report (Discord Bot)\n\n**Discord message format:**\n✅ GamersLab Monitor — 30 min report\n62/66 checks passed · avg 147ms · last run 12:54 pm\n\n🟢 us-east — 100% · 152ms\n🟢 eu-west — 100% · 144ms\n🟡 sa-east — 73% · 119ms\n\n**Alert thresholds:**\n- 💀 Dead: total=0 (no results in 30min) → pipeline down alert + GitHub Actions link\n- 🚨 Critical: 3+ failures\n- ⚠️ Warning: 1–2 failures\n- ✅ Healthy: all checks passed"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [400, 100],
      "id": "sticky-c",
      "name": "Sticky Note C"
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "id": "d9e48294-e02a-4cdd-82c6-02ca23475a80",
      "name": "Alert schedule1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COUNT(*) FILTER (WHERE status = 1) AS ok_count,\n  COUNT(*) FILTER (WHERE status = 0) AS failure_count,\n  COUNT(*) AS total_count,\n  ROUND(AVG(ttfb_ms)::numeric, 0) AS avg_ttfb,\n  MAX(checked_at) AS last_seen,\n  COUNT(*) FILTER (WHERE mode = 'surge') AS surge_count,\n  json_agg(json_build_object('region', region, 'ok', CASE WHEN status=1 THEN true ELSE false END, 'ttfb', ttfb_ms) ORDER BY checked_at DESC) AS recent\nFROM monitor_results\nWHERE checked_at > now() - interval '30 minutes'",
        "options": {}
      },
      "id": "4e98482c-9133-4f35-96d2-ae470ea8d107",
      "name": "Check status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [944, 300],
      "credentials": { "postgres": { "id": "feCyf8b8GoMyHCPS", "name": "Postgres GamersLab" } }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst failures = parseInt(row.failure_count) || 0;\nconst ok = parseInt(row.ok_count) || 0;\nconst total = parseInt(row.total_count) || 0;\nconst avgTtfb = parseInt(row.avg_ttfb) || 0;\nconst lastSeen = row.last_seen ? new Date(row.last_seen).toLocaleTimeString('en-AU', { hour: '2-digit', minute: '2-digit', timeZone: 'Australia/Melbourne' }) : 'n/a';\nconst surgeCount = parseInt(row.surge_count) || 0;\n\nif (total === 0) {\n  return [{ json: { message: '💀 **Monitor pipeline is down**\\n\\nNo results in the last 30 minutes.\\nhttps://github.com/DeveloperAlly/gamerslab/actions' } }];\n}\n\nconst recent = row.recent || [];\nconst byRegion = {};\nfor (const r of recent) {\n  if (!byRegion[r.region]) byRegion[r.region] = { ok: 0, fail: 0, ttfbs: [] };\n  r.ok ? byRegion[r.region].ok++ : byRegion[r.region].fail++;\n  if (r.ttfb) byRegion[r.region].ttfbs.push(r.ttfb);\n}\n\nconst regionLines = Object.entries(byRegion).map(([reg, d]) => {\n  const tot = d.ok + d.fail;\n  const pct = tot ? Math.round(d.ok / tot * 100) : 0;\n  const avg = d.ttfbs.length ? Math.round(d.ttfbs.reduce((a,b)=>a+b,0)/d.ttfbs.length) : 0;\n  const icon = pct === 100 ? '🟢' : pct >= 80 ? '🟡' : '🔴';\n  return `${icon} ${reg} — ${pct}% · ${avg}ms`;\n}).join('\\n');\n\nconst statusIcon = failures === 0 ? '✅' : failures < 3 ? '⚠️' : '🚨';\nconst failLine = failures > 0 ? `\\n⚠️ **${failures} failures detected**` : '';\n\nreturn [{ json: { message: `${statusIcon} **GamersLab Monitor — 30 min report**\\n**${ok}/${total} checks passed** · avg ${avgTtfb}ms · last run ${lastSeen}${surgeCount > 0 ? ` · ${surgeCount} surge runs` : ''}${failLine}\\n\\n${regionLines}` } }];"
      },
      "id": "48a19415-fce0-4708-affe-65c9bd7ef048",
      "name": "Evaluate status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1168, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": { "__rl": true, "value": "1066890817425387581", "mode": "id" },
        "channelId": { "__rl": true, "value": "1514424075282550916", "mode": "list", "cachedResultName": "gamers-lab-monitor" },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "id": "200c418f-694a-412c-b631-4864adb088c9",
      "name": "Send alert",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [1392, 300],
      "credentials": { "discordBotApi": { "id": "TjYM6pZNQ2PGSVmG", "name": "Discord Bot GamersLab" } }
    }
  ],
  "connections": {
    "Alert schedule1": { "main": [[{ "node": "Check status", "type": "main", "index": 0 }]] },
    "Check status": { "main": [[{ "node": "Evaluate status", "type": "main", "index": 0 }]] },
    "Evaluate status": { "main": [[{ "node": "Send alert", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
